/* #title{
font-family: 'Futura';
font-style: normal;
font-size: 20vw;
text-align: center;
padding-top: 200px;
font-weight: 900;
line-height: 90%;
background-color: white
} */
.button {
    border: none;
    color: white;
    padding-top: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Futura';
    font-style: normal;
    font-size: 17vw;
    font-weight: 800;
    line-height: 90%;   
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .home{
    position: absolute;
    width: 4vw;
    height: 2vw;
    left: 2vw;
    top: 2vw;
    border: 0px;
    
    background: #fdfdfd;
    border-radius: 6px;
    }
    
  .button1 {
    background-color: white; 
    color: black; 
    
  }
  
  .button1:hover {
    background-color: #ffffff;
    color: white;
  }
  
  img {
    position: relative;
    width: 80vw;
    height: auto;
    padding-left: 8vw;
    align-content: center;
  }
  .blacksijeans{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 70.7vw;
    top: 43.5vw;
  }
  .blacksi{
    position: absolute;
    width: 7vw;
    height: auto;
  
    left: 56vw;
    top: 42.8vw;
  }
  .raf{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 63vw;
    top: 37.8vw;
  }
  .cdg{
    position: absolute;
    width: 8.5vw;
    height: auto;
  
    left: 69.9vw;
    top: 30.5vw;
  }
  .prada{
    position: absolute;
    width: 8.5vw;
    height: auto;
  
    left: 54.9vw;
    top: 32.9vw;
  }
  .birks{
    position: absolute;
    width: 8.5vw;
    height: auto;
  
    left: 42.9vw;
    top: 44.9vw;
  }
  .mules{
    position: absolute;
    width: 8.5vw;
    height: auto;
    cursor: pointer;
  
    left: 36.9vw;
    top: 37.9vw;
  }
  .supreme{
    position: absolute;
    width: 8.5vw;
    height: auto;
  
    left: 45.9vw;
    top: 30.9vw;
  }
  .salomonblack{
    position: absolute;
    width: 8.5vw;
    height: auto;
  
    left: 53.5vw;
    top: 23vw;
  }
  .undercover{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 59.3vw;
    top: 14.5vw;
  }
  .tabis{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 52.3vw;
    top: 9.5vw;
  }
  .stjeans{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 42.3vw;
    top: 14.5vw;
  }
.salomonwhite{
    position: absolute;
    width: 8.8vw;
    height: auto;
  
    left: 36.8vw;
    top: 22.9vw;
  }
  .margielatee{
    position: absolute;
    width: 9.2vw;
    height: auto;
  
    left: 32.3vw;
    top: 29.9vw;
  }
  .cpcompany{
    position: absolute;
    width: 9.2vw;
    height: auto;
  
    left: 24.3vw;
    top: 35.1vw;
  }
  .apc{
    position: absolute;
    width: 9.2vw;
    height: auto;
  
    left: 15.3vw;
    top:41.8vw;
  }
  .hbtote{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 12.3vw;
    top:29vw;
  }
  .evisu{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 22.3vw;
    top:23.8vw;
  }
  .stussy{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 69.3vw;
    top: 10vw;
  }
  .redstoneisland{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 28.3vw;
    top:15.8vw;
  }
  .mbelt{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 35vw;
    top:8.1vw;
  }
  .abeanie{
    position: absolute;
    width: 7vw;
    height: auto;
  
    left: 48.3vw;
    top: 1.5vw;
  }
  .Kapital{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 19.8vw;
    top:9.8vw;
  }
  .greenstoneisland{
    position: absolute;
    width: 9.5vw;
    height: auto;
  
    left: 5.3vw;
    top:23vw;
  }
  .dickies{
    position: absolute;
    width: 9vw;
    height: auto;
  
    left: 1.3vw;
    top:14.8vw;
  }
  .mastermind{
    position: absolute;
    width: 9.2vw;
    height: auto;
  
    left: 10.8vw;
    top:4.8vw;
  }